<!DOCTYPE html>
<html lang="ko">
<head>
<title>채팅</title>
<meta charset="utf-8">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="shortcut icon" href="/img/favicon.ico">
</head>
<body class="well">
	<h1>채팅창</h1>
	<div class="form-group">	  		
		<textarea id="panel" rows="20" cols="70"  class="form-control" disabled></textarea>
	</div>
	<div class="form-inline">
		<output><%=nickname%></output>
		<input class="form-control" type="text" size="80" autofocus>
		<button type="button" class="btn btn-success">메세지 전송</button>
		<a href="/logout"><button type="submit" class="btn btn-danger">로그아웃</button></a>
	</div>
</body>
</html>



















