<!DOCTYPE html>
<html lang="ko">
<head>
<title>채팅</title>
<meta charset="utf-8">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="shortcut icon" href="/img/favicon.ico">
</head>
<body class="well">
	<h1><%= title %></h1>
	<div class="form-group">	  		
		<textarea id="panel" rows="20" cols="70"  class="form-control" disabled></textarea>
  </div>
  
  <% if(nickname){ %>
    <div class="form-inline">
      <output><%=nickname%></output>
      <input class="form-control" type="text" size="80" autofocus>
      <button type="button" class="btn btn-success">메세지 전송</button>
      <a href="/logout"><button type="button" class="btn btn-danger">로그아웃</button></a>
    </div>
  <% }else{ %>
    <a href="/">로그인</a> 후 대화에 참여할 수 있습니다.
  <% } %>
  
  <script src="/socket.io/socket.io.js"></script>
  <script>
    // 1. 웹소켓 접속
    var ws = io();

    // 2. 서버의 메세지 출력
    var msgout = document.querySelector('#panel');
    ws.on('chat', function(msg){
      msgout.value += msg + '\n';
      msgout.scrollTop = msgout.scrollHeight;
    });

    // 3. 로그인
    ws.emit('login', '<%=nickname%>');

    // 4. 서버로 메세지 전송
    var msg = document.querySelector('input');
    function send(){
      ws.emit('chat', msg.value);
      msg.value = '';
      msg.focus();
    }

    // 5. 클릭 이벤트 등록
    var sendBtn = document.querySelector('button');
    if(sendBtn){
      sendBtn.onclick = send;
      msg.onkeydown = function(event){
        if(event.keyCode == 13){
          send();
        }
      };
    }
  </script>
</body>
</html>



















