<!DOCTYPE html>
<html lang="ko">
<%- include('../layout/head') %>
<body>
  <%- include('../layout/header') %>
	<div class="container">
		<section>
			<p>등록되었습니다.</p>				
			<hr>
			<div class="form-group text-center">
				<a href="/board/<%=no%>" class="btn btn-default">글확인</a>
				<a href="/board/" class="btn btn-primary">목록</a>
			</div>
		</section>
	</div>
  <%- include('../layout/footer') %>
</body>
</html>
	