<!DOCTYPE html>
<html lang="ko">
<%- include('../layout/head') %>
<body>
  <%- include('../layout/header') %>
	<div class="container">
		<section>
			<form method="post" action="/board/new" class="form-horizontal">
				<div class="form-group">
					<label for="writer" class="col-sm-1 control-label">작성자</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" name="writer" required autofocus>
					</div>
				</div>
				<div class="form-group">
					<label for="title" class="col-sm-1 control-label">제목</label>
					<div class="col-sm-11">
						<input type="text" class="form-control" name="title" required placeholder="제목을 입력하세요.">
					</div>
				</div>
				<div class="form-group">
					<label for="content" class="sr-only">내용</label>
					<div class="col-sm-12">
						<textarea name="content" rows="15" class="form-control" required></textarea>
					</div>
				</div>
				<hr>
				<div class="form-group">
					<div class="text-center">
						<a href="/board/" class="btn btn-default">취소</a>
						<button type="submit" id="regist" class="btn btn-primary">등록</button>
					</div>
				</div>
			</form>
		</section>
	</div>
  <%- include('../layout/footer') %>
</body>
</html>
